# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
.vscode/*
*.dat
*.gif
*.mp4
*.carti
*.vtk
*.mesh
data/bearing.stress
data/demo_data_Abaqus.stress
data/demo_data_Ansys.stress
data/demo_data_PREMAS.stress
data/kitten.stress
data/parts1.stress
